<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="codecoverage.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="initial"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension point="org.eclipse.core.runtime.adapters">
		<factory adaptableType="java.util.TimeZone"
				class="com.packtpub.e4.clock.ui.internal.TimeZoneAdapterFactory">
			<adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
		</factory>
	</extension>
<command
     commandId="codecoverage.ui.command.runjunit"
     style="push">
   <visibleWhen
         checkEnabled="false">
     <reference
            definitionId="org.eclipse.ant.ui.activeAntEditor">
     </reference>
   </visibleWhen>
</command>

</plugin>
